terraform-solidfire-provider.code-workspace
terraform-provider-solidfire
.vscode/
.vscode
.github/
.github
examples/elementsw/terraform.tfstate*
examples/elementsw/terraform.tfvars
examples/elementsw/.terraform/
