terraform-solidfire-provider.code-workspace
terraform-provider-solidfire
.vscode/
.vscode
.github/*.md
.github/*.md
scripts/
RELEASE.md
examples/elementsw/terraform.tfstate*
examples/elementsw/terraform.tfvars
examples/elementsw/.terraform/
dist/
