---
page_title: "solidfire Provider"
description: |-
  The SolidFire provider provides resources to interact with the NetApp SolidFire (ElementSW) API.
---

# SolidFire Provider

The SolidFire provider is used to interact with resources supported by NetApp SolidFire storage clusters running ElementSW. 
It allows SolidFire administrators to manage their storage resources effectively and securely, including volumes, accounts, QoS policies, and initiators.

The provider needs to be configured with the proper credentials and endpoint URL before it can be used.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
